{% extends "base.html" %}
{% block title %} About Reformed-Root {%endblock%}
{% block body_class %}about{% endblock %}
{% block content %} 
        <div class="text-container">
            <div>
                <h1>About Reformed-Root</h1>
                <p>
                    <strong>Reformed-Root</strong> is a name that carries both weight and hope.<br> In tech, the "root" user represents full control.<br> In life, it's a symbol of starting over from the ground up.<br> This site is built by someone who's done just that —<br> someone who’s walked through hard times, faced the consequences, and is now choosing to build instead of break.<br> “Reformed” doesn’t just mean changed — it means reimagined, restructured, and reborn.
                </p>
                <p>
                    <p>
                        This is a personal Flask web application built to practice and demonstrate my skills. It includes projects like a CTF-style challenge, serving as both a portfolio and a learning exercise.
</p>

                </p>
                <h2></h2>
            </div>
        </div> 	
{% endblock %}	
	
